/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/
    nav {	margin: 0 auto; background-color: #000;	}
    .navigation{
        list-style: none; 
        text-align: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        padding: 2rem;    }
    .navigation li:first-child { display: block;}
    .navigation li {display:none;}
    .responsive li {display:block;}
    .navigation a {color: white; text-decoration: none; text-align: center; display: block; }
    
    nav a:visited {
        background-color:gray;
        color: whitesmoke;
    }
    
    /*----------- MAIN --------------*/
    
    
    
    /*----------- FOOTER --------------*/
        
    } /* end of media query */