

* {font-size: 1.1rem; font-weight: 700;}
h1 {font-size: 50px; color: #ffffff; text-shadow: 1px 4px 6px #bbbbbb}
h2 {font-size: 30px;}
h1, h2, h3, h4 {font-family: 'Noto Sans', 'PT serif', Georgia, serif; text-align: center;}


div {margin: 5px; border: 1px solid #999999; padding: 5px; background-color: #1E90FF}

body {
    font-size: 14px;
    font-family: 'Noto Sans', 'PT serif', Georgia, serif;
    background-color: yellow;
    margin: 2px;
}
header { background-color: #bbbbbb; text-align: center;}
main {position:relative; display: block;}
nav {	margin: 0 auto;	max-width: 760px; background-color: #000;	}
.navigation{
    list-style: none; 
    text-align: center;
}
.navigation li:first-child { display: block;}
.navigation li {display:none;}
.responsive li {display:block;}
.navigation a {color: white; padding: .75rem; text-decoration: none; text-align: center; display: block; }
.navigation a:hover {color: #000; background-color: #fff; font-weight: 700;}
nav a:visited {
    background-color:gray;
    color: whitesmoke;
}
.menu2 ul li {
    display: none;
    text-align: center;
}
header {
    margin: 10px auto;
    background-color: #4169e1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px #4169e1;
    text-align: center;
}
.motto {
    font-style: italic;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #000000;
}
header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.headings {
    font-weight: bold;
    font-size: 30px; 
    font-family: 'Noto Sans', 'PT serif', Georgia, serif;
}
footer {
    margin: 10px auto;
    background-color: #00Bfff;
    border: 5px solid #ffffff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: center;
}
.contact{
    text-align: left;
    padding: 4px;
}
.article1{ margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    
}
.weatherdiv { margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    
    align-content: center;
}
.weatherlist {
    position: absolute;
    top: 100px;
    left: 25px;
    background: lightblue;
    border: 1px solid #000000;
    padding: 1.2rem;
    box-shadow: 0 0 20px #fff;
    width: 95px;
    height: auto;
    font-size: 1em;
    clear: both;
}
.fiveday {
    display: none;
}

.responsivepicture {
    width: 100%;
    height: auto;
}
.logo {
    width: 25%;
    height: auto;
}
.smaller {font-size: 11px;color:white; background-color: black;}
.active {color: red; background-color: darkblue;}
.date {display: inline-block}
.hero {height: auto; width: 40%}
header img {background-color:white;}