@media screen and (max-width: 991px) {
* {font-size: 1.1rem; font-weight: 700;}
h1 {font-size: 50px; color: #ffffff; text-shadow: 1px 4px 6px #bbbbbb}
h2 {font-size: 30px;}
h1, h2, h3, h4 {font-family: 'Noto Sans', 'PT serif', Georgia, serif; text-align: center;}


div {margin: 5px; border: 1px solid #999999; padding: 5px; background-color: #1E90FF}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 1px;
}
main {position: relative; display: block;}
nav .menu1{
    max-width: 960px;
    margin: 0 auto;
    background-color: #1E90FF;
    text-align: center;
    box-shadow: 0px 3px 3px #bbbbbb;
    padding: 0;
    overflow: hidden;
}
nav .menu2{
    max-width: 960px;
    margin: 0 auto;
    background-color: #00Bfff;
    text-align: center;
    box-shadow: 0px 3px 3px #bbbbbb;
    padding: 0;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    display: block;
    color: #ffffff;
    text-align:center;
    padding: 15px;
    text-decoration: none;
    font-size: 30px;
}
nav a:hover {
    background-color: #1E90FF;
    color: #ffffff;
}
nav a:visited {
    background-color: #1E90FF;
    color: black;
}
nav .menu1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    padding: 14px 16px;
    display: block;
  }
.menu1 li {
    display: none;
    text-align: center;
}
.menu1 li a.icon {background: black; display: block; position: absolute; right: 0; top: 0;}
.menu2 li {
    display: none;
    text-align: center;
}
header {
    margin: 10px auto;
    background-color: #4169e1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px #4169e1;
    text-align: center;
}
.motto {
    font-style: italic;
    font-size: 20px;
    border: none;
    color: white;
}
header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.headings {
        font-weight: bold;
        font-size: 30px; 
       
}
footer {
    margin: 10px auto;
    background-color: #00Bfff;
    border: 5px solid #ffffff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: center;
}
.contact{
    text-align: left;
    padding: 4px;
}
.article1{ margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    position: relative;
}
.weatherdiv { margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    position: relative;
}
.weatherlist {
    position: absolute;
    top: 100px;
    left: 25px;
    background: lightblue;
    border: 1px solid #000000;
    padding: 1.2rem;
    box-shadow: 0 0 20px #fff;
    size: 60%;
}

.responsive {
    width: 100%;
    height: auto;
}
.logo {
    width: 25%;
    height: auto;
}
.smaller {font-size: 11px;}
.active {color: red; background-color: white;}
.foot {position: relative;}
}