

* {font-size: 1.1rem; font-weight: 700;}
h1 {font-size: 50px; color: #ffffff; text-shadow: 1px 4px 6px #bbbbbb}
h2 {font-size: 30px;}
h1, h2, h3, h4 {font-family: 'Noto Sans', 'PT serif', Georgia, serif; text-align: center;}


div {margin: 5px; border: 1px solid #999999; padding: 5px; background-color: #1E90FF}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 1px;
}
main {position: relative; display: block;}
div .topnav{
    max-width: 960px;
    margin: 0 auto;
    background-color: #1E90FF;
    text-align: center;
    box-shadow: 0px 3px 3px #bbbbbb;
    padding: 0;
    overflow: hidden;
    position:relative;
}
nav .menu2{
    max-width: 960px;
    margin: 0 auto;
    background-color: #00Bfff;
    text-align: center;
    box-shadow: 0px 3px 3px #bbbbbb;
    padding: 0;
    overflow: hidden;
}
div ul {
    list-style-type: none;
    padding: 0;
}
div ul #myLinks {
    display: block;
    list-style-type: none;
    padding: 0;
}
div ul li a {
    display: block;
    color:white;
    
    text-align:center;
    padding: 15px;
    text-decoration: none;
    font-size: 30px;
}
div ul li a:hover {
    background-color: darkblue;
    color: yellow;
}
div ul li a:visited {
    background-color: #1E90FF;
    color: black;
}

.topnav #mylinks {
    
    display: block;
    text-align: center;
}
.topnav a {color: white; padding: 14px 16px; text-decoration: none; font-size: 14px; display: block; }
.topnav a.icon {background:black; display: block;}
.bars {color:skyblue;}


.menu2 ul li {
    display: none;
    text-align: center;
}
header {
    margin: 10px auto;
    background-color: #4169e1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px #4169e1;
    text-align: center;
}
.motto {
    font-style: italic;
    font-size: 20px;
    border: none;
    color: white;
}
header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.headings {
        font-weight: bold;
        font-size: 30px; 
       
}
footer {
    margin: 10px auto;
    background-color: #00Bfff;
    border: 5px solid #ffffff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: center;
}
.contact{
    text-align: left;
    padding: 4px;
}


.article1{ margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    position: relative;
}
.weatherdiv { margin: 10px auto;
    background-color: #00Bfff;
    box-shadow: 0 0 30px #00Bfff;
    text-align: left;
    padding: 4px;
    position: relative;
    align-content: center;
}
.weatherlist {
    position: absolute;
    top: 100px;
    left: 25px;
    background: lightblue;
    border: 1px solid #000000;
    padding: 1.2rem;
    box-shadow: 0 0 20px #fff;
    width: 95px;
    height: auto;
    font-size: 10px;
}
.fiveday {
    visibility: hidden;
    width: auto;
    align-content: center;
    height: auto;
}
.fivedaypic {
    width: 80%;
    height: auto;    
}
.responsive {
    width: 100%;
    height: auto;
}
.logo {
    width: 25%;
    height: auto;
}
.smaller {font-size: 11px;color:white;}
.active {color: red; background-color: darkblue;}
.foot {position: relative;}
