@media only screen and (min-width: 40rem) {
    .navigation li:first-child {
        display: none;
    }
.navigation{
    flex-direction: row;
    align-content: center;
    }
.navigation li {
    padding: 4px; display: inline-block;
}
.featuredtemple {width: 50rem;}
.featurephoto {display:grid; grid-gap: 15px;}
.templesize {width:60%;}
.templefeature {width: 65%;}

}