@media only screen and (min-width: 40rem) {
    .navigation li:first-child {
        display: none;
    }
.navigation{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;}
.navigation li {
    padding: 4px; display: inline-block;
}
.featuredtemple {width: 50rem;}
.featurephoto {display:grid; grid-template-columns: repeat(4 1fr); grid-gap: 15px;}
.templesize {width:16rem; height: 14rem;}
.templefeature {width: 16.5rem;}

}