@media only screen and (min-width: 40rem) {
.navigation{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;}
.navigation li:first-child {
    flex-flow: column;
    flex: auto;
}
.responsive li:first-child {
    display:none;
}
.navigation li {
    padding: 4px;
}
.templephotos {display:grid;
grid-template-columns: repeat(4, 1fr); grid-gap: 15px;}
.featuredtemple {width: 50rem;}
}
.featurephoto {display:grid; grid-template-columns: repeat(4 1fr); grid-gap: 15px;}